<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyou.business.trend.dao.BargainHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.liyou.business.trend.pojo.BargainHistory" >
    <id column="bargainid" property="bargainid" jdbcType="BIGINT" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="building" property="building" jdbcType="VARCHAR" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    <result column="rooms" property="rooms" jdbcType="INTEGER" />
    <result column="room" property="room" jdbcType="VARCHAR" />
    <result column="roomtype" property="roomtype" jdbcType="INTEGER" />
    <result column="bargain_area" property="bargainArea" jdbcType="BIGINT" />
    <result column="property_attr" property="propertyAttr" jdbcType="INTEGER" />
    <result column="property_name" property="propertyName" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="avprice" property="avprice" jdbcType="BIGINT" />
    <result column="sinprice" property="sinprice" jdbcType="BIGINT" />
    <result column="totalprice" property="totalprice" jdbcType="BIGINT" />
    <result column="bargaindate" property="bargaindate" jdbcType="TIMESTAMP" />
    <result column="presale_name" property="presaleName" jdbcType="VARCHAR" />
    <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
    <result column="agent_shortname" property="agentShortname" jdbcType="VARCHAR" />
    <result column="first_hand" property="firstHand" jdbcType="INTEGER" />
    <result column="ifcalc" property="ifcalc" jdbcType="BIT" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
    <result column="edit_time" property="editTime" jdbcType="INTEGER" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="room_type_name" property="roomTypeName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="price_tag" property="priceTag" jdbcType="INTEGER" />
    <result column="agent_superior_id" property="agentSuperiorId" jdbcType="INTEGER" />
    <result column="verify_sinprice" property="verifySinprice" jdbcType="BIGINT" />
    <result column="verify_totalprice" property="verifyTotalprice" jdbcType="BIGINT" />
  </resultMap>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.liyou.business.trend.pojo.BargainHistoryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    from bargain_history
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from ${baseName}.bargain_history
    where bargainid = #{bargainid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ${baseName}.bargain_history
    where bargainid = #{bargainid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.liyou.business.trend.pojo.BargainHistory" >
    insert into ${baseName}.bargain_history (bargainid, house_id, address, 
      building, building_no, rooms, 
      room, roomtype, bargain_area, 
      property_attr, property_name, floor, 
      avprice, sinprice, totalprice, 
      bargaindate, presale_name, agent_name, 
      agent_shortname, first_hand, ifcalc, 
      add_time, edit_time, house_type, 
      room_type_name, store_id, price_tag, 
      agent_superior_id, verify_sinprice, verify_totalprice
      )
    values (#{bargainid,jdbcType=BIGINT}, #{houseId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{building,jdbcType=VARCHAR}, #{buildingNo,jdbcType=VARCHAR}, #{rooms,jdbcType=INTEGER}, 
      #{room,jdbcType=VARCHAR}, #{roomtype,jdbcType=INTEGER}, #{bargainArea,jdbcType=BIGINT}, 
      #{propertyAttr,jdbcType=INTEGER}, #{propertyName,jdbcType=VARCHAR}, #{floor,jdbcType=INTEGER}, 
      #{avprice,jdbcType=BIGINT}, #{sinprice,jdbcType=BIGINT}, #{totalprice,jdbcType=BIGINT}, 
      #{bargaindate,jdbcType=TIMESTAMP}, #{presaleName,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, 
      #{agentShortname,jdbcType=VARCHAR}, #{firstHand,jdbcType=INTEGER}, #{ifcalc,jdbcType=BIT}, 
      #{addTime,jdbcType=INTEGER}, #{editTime,jdbcType=INTEGER}, #{houseType,jdbcType=VARCHAR}, 
      #{roomTypeName,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, #{priceTag,jdbcType=INTEGER}, 
      #{agentSuperiorId,jdbcType=INTEGER}, #{verifySinprice,jdbcType=BIGINT}, #{verifyTotalprice,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liyou.business.trend.pojo.BargainHistory" >
    insert into ${baseName}.bargain_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bargainid != null" >
        bargainid,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="building != null" >
        building,
      </if>
      <if test="buildingNo != null" >
        building_no,
      </if>
      <if test="rooms != null" >
        rooms,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="roomtype != null" >
        roomtype,
      </if>
      <if test="bargainArea != null" >
        bargain_area,
      </if>
      <if test="propertyAttr != null" >
        property_attr,
      </if>
      <if test="propertyName != null" >
        property_name,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="avprice != null" >
        avprice,
      </if>
      <if test="sinprice != null" >
        sinprice,
      </if>
      <if test="totalprice != null" >
        totalprice,
      </if>
      <if test="bargaindate != null" >
        bargaindate,
      </if>
      <if test="presaleName != null" >
        presale_name,
      </if>
      <if test="agentName != null" >
        agent_name,
      </if>
      <if test="agentShortname != null" >
        agent_shortname,
      </if>
      <if test="firstHand != null" >
        first_hand,
      </if>
      <if test="ifcalc != null" >
        ifcalc,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="roomTypeName != null" >
        room_type_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="priceTag != null" >
        price_tag,
      </if>
      <if test="agentSuperiorId != null" >
        agent_superior_id,
      </if>
      <if test="verifySinprice != null" >
        verify_sinprice,
      </if>
      <if test="verifyTotalprice != null" >
        verify_totalprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bargainid != null" >
        #{bargainid,jdbcType=BIGINT},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        #{building,jdbcType=VARCHAR},
      </if>
      <if test="buildingNo != null" >
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="rooms != null" >
        #{rooms,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        #{room,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null" >
        #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="bargainArea != null" >
        #{bargainArea,jdbcType=BIGINT},
      </if>
      <if test="propertyAttr != null" >
        #{propertyAttr,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null" >
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="avprice != null" >
        #{avprice,jdbcType=BIGINT},
      </if>
      <if test="sinprice != null" >
        #{sinprice,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=BIGINT},
      </if>
      <if test="bargaindate != null" >
        #{bargaindate,jdbcType=TIMESTAMP},
      </if>
      <if test="presaleName != null" >
        #{presaleName,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentShortname != null" >
        #{agentShortname,jdbcType=VARCHAR},
      </if>
      <if test="firstHand != null" >
        #{firstHand,jdbcType=INTEGER},
      </if>
      <if test="ifcalc != null" >
        #{ifcalc,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeName != null" >
        #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="priceTag != null" >
        #{priceTag,jdbcType=INTEGER},
      </if>
      <if test="agentSuperiorId != null" >
        #{agentSuperiorId,jdbcType=INTEGER},
      </if>
      <if test="verifySinprice != null" >
        #{verifySinprice,jdbcType=BIGINT},
      </if>
      <if test="verifyTotalprice != null" >
        #{verifyTotalprice,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liyou.business.trend.pojo.BargainHistory" >
    update ${baseName}.bargain_history
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        building = #{building,jdbcType=VARCHAR},
      </if>
      <if test="buildingNo != null" >
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="rooms != null" >
        rooms = #{rooms,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null" >
        roomtype = #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="bargainArea != null" >
        bargain_area = #{bargainArea,jdbcType=BIGINT},
      </if>
      <if test="propertyAttr != null" >
        property_attr = #{propertyAttr,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null" >
        property_name = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="avprice != null" >
        avprice = #{avprice,jdbcType=BIGINT},
      </if>
      <if test="sinprice != null" >
        sinprice = #{sinprice,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        totalprice = #{totalprice,jdbcType=BIGINT},
      </if>
      <if test="bargaindate != null" >
        bargaindate = #{bargaindate,jdbcType=TIMESTAMP},
      </if>
      <if test="presaleName != null" >
        presale_name = #{presaleName,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentShortname != null" >
        agent_shortname = #{agentShortname,jdbcType=VARCHAR},
      </if>
      <if test="firstHand != null" >
        first_hand = #{firstHand,jdbcType=INTEGER},
      </if>
      <if test="ifcalc != null" >
        ifcalc = #{ifcalc,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=INTEGER},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeName != null" >
        room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="priceTag != null" >
        price_tag = #{priceTag,jdbcType=INTEGER},
      </if>
      <if test="agentSuperiorId != null" >
        agent_superior_id = #{agentSuperiorId,jdbcType=INTEGER},
      </if>
      <if test="verifySinprice != null" >
        verify_sinprice = #{verifySinprice,jdbcType=BIGINT},
      </if>
      <if test="verifyTotalprice != null" >
        verify_totalprice = #{verifyTotalprice,jdbcType=BIGINT},
      </if>
    </set>
    where bargainid = #{bargainid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liyou.business.trend.pojo.BargainHistory" >
    update ${baseName}.bargain_history
    set house_id = #{houseId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      building = #{building,jdbcType=VARCHAR},
      building_no = #{buildingNo,jdbcType=VARCHAR},
      rooms = #{rooms,jdbcType=INTEGER},
      room = #{room,jdbcType=VARCHAR},
      roomtype = #{roomtype,jdbcType=INTEGER},
      bargain_area = #{bargainArea,jdbcType=BIGINT},
      property_attr = #{propertyAttr,jdbcType=INTEGER},
      property_name = #{propertyName,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=INTEGER},
      avprice = #{avprice,jdbcType=BIGINT},
      sinprice = #{sinprice,jdbcType=BIGINT},
      totalprice = #{totalprice,jdbcType=BIGINT},
      bargaindate = #{bargaindate,jdbcType=TIMESTAMP},
      presale_name = #{presaleName,jdbcType=VARCHAR},
      agent_name = #{agentName,jdbcType=VARCHAR},
      agent_shortname = #{agentShortname,jdbcType=VARCHAR},
      first_hand = #{firstHand,jdbcType=INTEGER},
      ifcalc = #{ifcalc,jdbcType=BIT},
      add_time = #{addTime,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=VARCHAR},
      room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      price_tag = #{priceTag,jdbcType=INTEGER},
      agent_superior_id = #{agentSuperiorId,jdbcType=INTEGER},
      verify_sinprice = #{verifySinprice,jdbcType=BIGINT},
      verify_totalprice = #{verifyTotalprice,jdbcType=BIGINT}
    where bargainid = #{bargainid,jdbcType=BIGINT}
  </update>
  
  <!-- 获取小区的某个时间段内的成交量 -->
  <select id="getHouseTimesSalesCount" resultType="java.lang.Integer" >
  	SELECT COUNT(0) FROM ${baseName}.bargain_history WHERE house_id = #{houseId}  
	AND bargaindate BETWEEN #{beginDate} AND #{endDate} AND property_attr = 1 
  </select>
  
  <select id="getBargainHisByHouseId" resultType="com.liyou.business.trend.pojo.BargainHistory">
  	SELECT rooms,totalprice FROM ${baseName}.bargain_history WHERE 
  	house_id = #{houseId}  
	AND bargaindate BETWEEN #{beginDate} AND #{endDate} AND property_attr = 1 
 	<if test="rooms != null" >
     	 and rooms in
        <foreach collection="rooms" item="item" open="(" close=")" separator=",">
        	#{item}
        </foreach>
    </if>
  	order by rooms
  </select>
  
  <select id="getTotalpriceRangeConfig" resultType="com.liyou.business.trend.pojo.param.PeriodVo">
  	select bottom_price as 'from',top_price as 'to' from ${baseName}.city_totalprice_range_config where city_id=#{cityId}
  </select>
  
  <select id="getTransactionHistory" resultType="com.liyou.business.trend.pojo.callback.TransactionHistory">
  	SELECT
	a.bargainid bargain_id,
	h.house_id,
	h.house_name,
	rooms,
	a.bargain_area,
	building_no,
	a.bargaindate bargain_date,
	a.totalprice,
	a.floor,
    b.contactinfo phone,
	b.superior_name,
	store_name,
	a.agent_shortname agent_name,
	threerank,
	three_salescount,
	building_no_number,
	building_no_price,
	rooms_number,
	rooms_price,
	dd.eval_totalprice estate_price
FROM
	<if test="source==99">
	${baseName}.bargain_history a
	</if>
	<if test="source!=99">
	${baseName}.fetch_bargain_history a
	</if>
LEFT JOIN ${baseName}.house_detail_deal_data dd on  a.bargainid=dd.bargainid
LEFT JOIN ${baseName}.bargain_history_extend be on a.bargainid=be.bargain_id
<if test="source==99">
	and source=2
</if>
<if test="source!=99">
	and source=1
</if>
LEFT JOIN ${baseName}.agent_superior_info b ON a.agent_superior_id = b.superior_id
LEFT JOIN ${baseName}.store_info c ON a.store_id = c.store_id
LEFT JOIN ${baseName}.house_info h ON a.house_id = h.house_id
LEFT JOIN ${baseName}.agent_sales_rank j on a.house_id=j.house_id and c.agent_id=j.agent_id and valyear=YEAR(NOW()) and valmonth=MONTH(NOW())
WHERE
	a.bargainid =#{bargain_id}
  </select>
</mapper>