<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyou.business.trend.dao.HouseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liyou.business.trend.pojo.HouseInfo" >
    <id column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="house_name" property="houseName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="certi_name" property="certiName" jdbcType="VARCHAR" />
    <result column="house_address" property="houseAddress" jdbcType="VARCHAR" />
    <result column="ifmulti_address" property="ifmultiAddress" jdbcType="BIT" />
    <result column="house_pic" property="housePic" jdbcType="VARCHAR" />
    <result column="house_des" property="houseDes" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="CHAR" />
    <result column="sales_agent_tel" property="salesAgentTel" jdbcType="VARCHAR" />
    <result column="openprice" property="openprice" jdbcType="BIGINT" />
    <result column="opentime" property="opentime" jdbcType="TIMESTAMP" />
    <result column="house_active" property="houseActive" jdbcType="INTEGER" />
    <result column="period_id" property="periodId" jdbcType="INTEGER" />
    <result column="district_id" property="districtId" jdbcType="INTEGER" />
    <result column="plate_id" property="plateId" jdbcType="INTEGER" />
    <result column="loop_id" property="loopId" jdbcType="INTEGER" />
    <result column="jg_time" property="jgTime" jdbcType="TIMESTAMP" />
    <result column="developer_id" property="developerId" jdbcType="INTEGER" />
    <result column="land_area" property="landArea" jdbcType="INTEGER" />
    <result column="build_area" property="buildArea" jdbcType="INTEGER" />
    <result column="total_house" property="totalHouse" jdbcType="INTEGER" />
    <result column="green_rate" property="greenRate" jdbcType="INTEGER" />
    <result column="volume_rate" property="volumeRate" jdbcType="DOUBLE" />
    <result column="rent_rate" property="rentRate" jdbcType="INTEGER" />
    <result column="parking_space" property="parkingSpace" jdbcType="INTEGER" />
    <result column="wy_price" property="wyPrice" jdbcType="DOUBLE" />
    <result column="house_name_py" property="houseNamePy" jdbcType="CHAR" />
    <result column="lng" property="lng" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="geohash" property="geohash" jdbcType="VARCHAR" />
    <result column="geohash_around" property="geohashAround" jdbcType="VARCHAR" />
    <result column="deviation" property="deviation" jdbcType="INTEGER" />
    <result column="reliability" property="reliability" jdbcType="DOUBLE" />
    <result column="is_first" property="isFirst" jdbcType="CHAR" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
    <result column="edit_time" property="editTime" jdbcType="INTEGER" />
    <result column="city_plan_id" property="cityPlanId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="wy_tel" property="wyTel" jdbcType="VARCHAR" />
    <result column="is_pool" property="isPool" jdbcType="BIT" />
    <result column="is_gym" property="isGym" jdbcType="BIT" />
    <result column="is_school" property="isSchool" jdbcType="BIT" />
    <result column="is_subway" property="isSubway" jdbcType="BIT" />
    <result column="house_url" property="houseUrl" jdbcType="VARCHAR" />
    <result column="outlink_url" property="outlinkUrl" jdbcType="VARCHAR" />
    <result column="advantage" property="advantage" jdbcType="VARCHAR" />
    <result column="stars" property="stars" jdbcType="TINYINT" />
    <result column="wy_company" property="wyCompany" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from house_info
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house_info
    where house_id = #{houseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liyou.business.trend.pojo.HouseInfo" >
    insert into ${baseName}.house_info (house_id, house_name, nick_name, 
      certi_name, house_address, ifmulti_address, 
      house_pic, house_des, zip_code, 
      sales_agent_tel, openprice, opentime, 
      house_active, period_id, district_id, 
      plate_id, loop_id, jg_time, 
      developer_id, land_area, build_area, 
      total_house, green_rate, volume_rate, 
      rent_rate, parking_space, wy_price, 
      house_name_py, lng, lat, geohash, 
      geohash_around, deviation, reliability, 
      is_first, add_time, edit_time, 
      city_plan_id, city_id, wy_tel, 
      is_pool, is_gym, is_school, is_subway, 
      house_url, outlink_url, advantage, 
      stars, wy_company, create_date, 
      modify_date)
    values (#{houseId,jdbcType=INTEGER}, #{houseName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{certiName,jdbcType=VARCHAR}, #{houseAddress,jdbcType=VARCHAR}, #{ifmultiAddress,jdbcType=BIT}, 
      #{housePic,jdbcType=VARCHAR}, #{houseDes,jdbcType=VARCHAR}, #{zipCode,jdbcType=CHAR}, 
      #{salesAgentTel,jdbcType=VARCHAR}, #{openprice,jdbcType=BIGINT}, #{opentime,jdbcType=TIMESTAMP}, 
      #{houseActive,jdbcType=INTEGER}, #{periodId,jdbcType=INTEGER}, #{districtId,jdbcType=INTEGER}, 
      #{plateId,jdbcType=INTEGER}, #{loopId,jdbcType=INTEGER}, #{jgTime,jdbcType=TIMESTAMP}, 
      #{developerId,jdbcType=INTEGER}, #{landArea,jdbcType=INTEGER}, #{buildArea,jdbcType=INTEGER}, 
      #{totalHouse,jdbcType=INTEGER}, #{greenRate,jdbcType=INTEGER}, #{volumeRate,jdbcType=DOUBLE}, 
      #{rentRate,jdbcType=INTEGER}, #{parkingSpace,jdbcType=INTEGER}, #{wyPrice,jdbcType=DOUBLE}, 
      #{houseNamePy,jdbcType=CHAR}, #{lng,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE}, #{geohash,jdbcType=VARCHAR}, 
      #{geohashAround,jdbcType=VARCHAR}, #{deviation,jdbcType=INTEGER}, #{reliability,jdbcType=DOUBLE}, 
      #{isFirst,jdbcType=CHAR}, #{addTime,jdbcType=INTEGER}, #{editTime,jdbcType=INTEGER}, 
      #{cityPlanId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{wyTel,jdbcType=VARCHAR}, 
      #{isPool,jdbcType=BIT}, #{isGym,jdbcType=BIT}, #{isSchool,jdbcType=BIT}, #{isSubway,jdbcType=BIT}, 
      #{houseUrl,jdbcType=VARCHAR}, #{outlinkUrl,jdbcType=VARCHAR}, #{advantage,jdbcType=VARCHAR}, 
      #{stars,jdbcType=TINYINT}, #{wyCompany,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.liyou.business.trend.pojo.HouseInfo" >
    insert into ${baseName}.house_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="houseName != null" >
        house_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="certiName != null" >
        certi_name,
      </if>
      <if test="houseAddress != null" >
        house_address,
      </if>
      <if test="ifmultiAddress != null" >
        ifmulti_address,
      </if>
      <if test="housePic != null" >
        house_pic,
      </if>
      <if test="houseDes != null" >
        house_des,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="salesAgentTel != null" >
        sales_agent_tel,
      </if>
      <if test="openprice != null" >
        openprice,
      </if>
      <if test="opentime != null" >
        opentime,
      </if>
      <if test="houseActive != null" >
        house_active,
      </if>
      <if test="periodId != null" >
        period_id,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="plateId != null" >
        plate_id,
      </if>
      <if test="loopId != null" >
        loop_id,
      </if>
      <if test="jgTime != null" >
        jg_time,
      </if>
      <if test="developerId != null" >
        developer_id,
      </if>
      <if test="landArea != null" >
        land_area,
      </if>
      <if test="buildArea != null" >
        build_area,
      </if>
      <if test="totalHouse != null" >
        total_house,
      </if>
      <if test="greenRate != null" >
        green_rate,
      </if>
      <if test="volumeRate != null" >
        volume_rate,
      </if>
      <if test="rentRate != null" >
        rent_rate,
      </if>
      <if test="parkingSpace != null" >
        parking_space,
      </if>
      <if test="wyPrice != null" >
        wy_price,
      </if>
      <if test="houseNamePy != null" >
        house_name_py,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="geohash != null" >
        geohash,
      </if>
      <if test="geohashAround != null" >
        geohash_around,
      </if>
      <if test="deviation != null" >
        deviation,
      </if>
      <if test="reliability != null" >
        reliability,
      </if>
      <if test="isFirst != null" >
        is_first,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="cityPlanId != null" >
        city_plan_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="wyTel != null" >
        wy_tel,
      </if>
      <if test="isPool != null" >
        is_pool,
      </if>
      <if test="isGym != null" >
        is_gym,
      </if>
      <if test="isSchool != null" >
        is_school,
      </if>
      <if test="isSubway != null" >
        is_subway,
      </if>
      <if test="houseUrl != null" >
        house_url,
      </if>
      <if test="outlinkUrl != null" >
        outlink_url,
      </if>
      <if test="advantage != null" >
        advantage,
      </if>
      <if test="stars != null" >
        stars,
      </if>
      <if test="wyCompany != null" >
        wy_company,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null" >
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="certiName != null" >
        #{certiName,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null" >
        #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="ifmultiAddress != null" >
        #{ifmultiAddress,jdbcType=BIT},
      </if>
      <if test="housePic != null" >
        #{housePic,jdbcType=VARCHAR},
      </if>
      <if test="houseDes != null" >
        #{houseDes,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=CHAR},
      </if>
      <if test="salesAgentTel != null" >
        #{salesAgentTel,jdbcType=VARCHAR},
      </if>
      <if test="openprice != null" >
        #{openprice,jdbcType=BIGINT},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseActive != null" >
        #{houseActive,jdbcType=INTEGER},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="plateId != null" >
        #{plateId,jdbcType=INTEGER},
      </if>
      <if test="loopId != null" >
        #{loopId,jdbcType=INTEGER},
      </if>
      <if test="jgTime != null" >
        #{jgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="developerId != null" >
        #{developerId,jdbcType=INTEGER},
      </if>
      <if test="landArea != null" >
        #{landArea,jdbcType=INTEGER},
      </if>
      <if test="buildArea != null" >
        #{buildArea,jdbcType=INTEGER},
      </if>
      <if test="totalHouse != null" >
        #{totalHouse,jdbcType=INTEGER},
      </if>
      <if test="greenRate != null" >
        #{greenRate,jdbcType=INTEGER},
      </if>
      <if test="volumeRate != null" >
        #{volumeRate,jdbcType=DOUBLE},
      </if>
      <if test="rentRate != null" >
        #{rentRate,jdbcType=INTEGER},
      </if>
      <if test="parkingSpace != null" >
        #{parkingSpace,jdbcType=INTEGER},
      </if>
      <if test="wyPrice != null" >
        #{wyPrice,jdbcType=DOUBLE},
      </if>
      <if test="houseNamePy != null" >
        #{houseNamePy,jdbcType=CHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="geohash != null" >
        #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="geohashAround != null" >
        #{geohashAround,jdbcType=VARCHAR},
      </if>
      <if test="deviation != null" >
        #{deviation,jdbcType=INTEGER},
      </if>
      <if test="reliability != null" >
        #{reliability,jdbcType=DOUBLE},
      </if>
      <if test="isFirst != null" >
        #{isFirst,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=INTEGER},
      </if>
      <if test="cityPlanId != null" >
        #{cityPlanId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="wyTel != null" >
        #{wyTel,jdbcType=VARCHAR},
      </if>
      <if test="isPool != null" >
        #{isPool,jdbcType=BIT},
      </if>
      <if test="isGym != null" >
        #{isGym,jdbcType=BIT},
      </if>
      <if test="isSchool != null" >
        #{isSchool,jdbcType=BIT},
      </if>
      <if test="isSubway != null" >
        #{isSubway,jdbcType=BIT},
      </if>
      <if test="houseUrl != null" >
        #{houseUrl,jdbcType=VARCHAR},
      </if>
      <if test="outlinkUrl != null" >
        #{outlinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="advantage != null" >
        #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="stars != null" >
        #{stars,jdbcType=TINYINT},
      </if>
      <if test="wyCompany != null" >
        #{wyCompany,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liyou.business.trend.pojo.HouseInfo" >
    update ${baseName}.house_info
    <set >
      <if test="houseName != null" >
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="certiName != null" >
        certi_name = #{certiName,jdbcType=VARCHAR},
      </if>
      <if test="houseAddress != null" >
        house_address = #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="ifmultiAddress != null" >
        ifmulti_address = #{ifmultiAddress,jdbcType=BIT},
      </if>
      <if test="housePic != null" >
        house_pic = #{housePic,jdbcType=VARCHAR},
      </if>
      <if test="houseDes != null" >
        house_des = #{houseDes,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=CHAR},
      </if>
      <if test="salesAgentTel != null" >
        sales_agent_tel = #{salesAgentTel,jdbcType=VARCHAR},
      </if>
      <if test="openprice != null" >
        openprice = #{openprice,jdbcType=BIGINT},
      </if>
      <if test="opentime != null" >
        opentime = #{opentime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseActive != null" >
        house_active = #{houseActive,jdbcType=INTEGER},
      </if>
      <if test="periodId != null" >
        period_id = #{periodId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="plateId != null" >
        plate_id = #{plateId,jdbcType=INTEGER},
      </if>
      <if test="loopId != null" >
        loop_id = #{loopId,jdbcType=INTEGER},
      </if>
      <if test="jgTime != null" >
        jg_time = #{jgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="developerId != null" >
        developer_id = #{developerId,jdbcType=INTEGER},
      </if>
      <if test="landArea != null" >
        land_area = #{landArea,jdbcType=INTEGER},
      </if>
      <if test="buildArea != null" >
        build_area = #{buildArea,jdbcType=INTEGER},
      </if>
      <if test="totalHouse != null" >
        total_house = #{totalHouse,jdbcType=INTEGER},
      </if>
      <if test="greenRate != null" >
        green_rate = #{greenRate,jdbcType=INTEGER},
      </if>
      <if test="volumeRate != null" >
        volume_rate = #{volumeRate,jdbcType=DOUBLE},
      </if>
      <if test="rentRate != null" >
        rent_rate = #{rentRate,jdbcType=INTEGER},
      </if>
      <if test="parkingSpace != null" >
        parking_space = #{parkingSpace,jdbcType=INTEGER},
      </if>
      <if test="wyPrice != null" >
        wy_price = #{wyPrice,jdbcType=DOUBLE},
      </if>
      <if test="houseNamePy != null" >
        house_name_py = #{houseNamePy,jdbcType=CHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="geohash != null" >
        geohash = #{geohash,jdbcType=VARCHAR},
      </if>
      <if test="geohashAround != null" >
        geohash_around = #{geohashAround,jdbcType=VARCHAR},
      </if>
      <if test="deviation != null" >
        deviation = #{deviation,jdbcType=INTEGER},
      </if>
      <if test="reliability != null" >
        reliability = #{reliability,jdbcType=DOUBLE},
      </if>
      <if test="isFirst != null" >
        is_first = #{isFirst,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=INTEGER},
      </if>
      <if test="cityPlanId != null" >
        city_plan_id = #{cityPlanId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="wyTel != null" >
        wy_tel = #{wyTel,jdbcType=VARCHAR},
      </if>
      <if test="isPool != null" >
        is_pool = #{isPool,jdbcType=BIT},
      </if>
      <if test="isGym != null" >
        is_gym = #{isGym,jdbcType=BIT},
      </if>
      <if test="isSchool != null" >
        is_school = #{isSchool,jdbcType=BIT},
      </if>
      <if test="isSubway != null" >
        is_subway = #{isSubway,jdbcType=BIT},
      </if>
      <if test="houseUrl != null" >
        house_url = #{houseUrl,jdbcType=VARCHAR},
      </if>
      <if test="outlinkUrl != null" >
        outlink_url = #{outlinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="advantage != null" >
        advantage = #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="stars != null" >
        stars = #{stars,jdbcType=TINYINT},
      </if>
      <if test="wyCompany != null" >
        wy_company = #{wyCompany,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liyou.business.trend.pojo.HouseInfo" >
    update ${baseName}.house_info
    set house_name = #{houseName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      certi_name = #{certiName,jdbcType=VARCHAR},
      house_address = #{houseAddress,jdbcType=VARCHAR},
      ifmulti_address = #{ifmultiAddress,jdbcType=BIT},
      house_pic = #{housePic,jdbcType=VARCHAR},
      house_des = #{houseDes,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=CHAR},
      sales_agent_tel = #{salesAgentTel,jdbcType=VARCHAR},
      openprice = #{openprice,jdbcType=BIGINT},
      opentime = #{opentime,jdbcType=TIMESTAMP},
      house_active = #{houseActive,jdbcType=INTEGER},
      period_id = #{periodId,jdbcType=INTEGER},
      district_id = #{districtId,jdbcType=INTEGER},
      plate_id = #{plateId,jdbcType=INTEGER},
      loop_id = #{loopId,jdbcType=INTEGER},
      jg_time = #{jgTime,jdbcType=TIMESTAMP},
      developer_id = #{developerId,jdbcType=INTEGER},
      land_area = #{landArea,jdbcType=INTEGER},
      build_area = #{buildArea,jdbcType=INTEGER},
      total_house = #{totalHouse,jdbcType=INTEGER},
      green_rate = #{greenRate,jdbcType=INTEGER},
      volume_rate = #{volumeRate,jdbcType=DOUBLE},
      rent_rate = #{rentRate,jdbcType=INTEGER},
      parking_space = #{parkingSpace,jdbcType=INTEGER},
      wy_price = #{wyPrice,jdbcType=DOUBLE},
      house_name_py = #{houseNamePy,jdbcType=CHAR},
      lng = #{lng,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      geohash = #{geohash,jdbcType=VARCHAR},
      geohash_around = #{geohashAround,jdbcType=VARCHAR},
      deviation = #{deviation,jdbcType=INTEGER},
      reliability = #{reliability,jdbcType=DOUBLE},
      is_first = #{isFirst,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=INTEGER},
      city_plan_id = #{cityPlanId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      wy_tel = #{wyTel,jdbcType=VARCHAR},
      is_pool = #{isPool,jdbcType=BIT},
      is_gym = #{isGym,jdbcType=BIT},
      is_school = #{isSchool,jdbcType=BIT},
      is_subway = #{isSubway,jdbcType=BIT},
      house_url = #{houseUrl,jdbcType=VARCHAR},
      outlink_url = #{outlinkUrl,jdbcType=VARCHAR},
      advantage = #{advantage,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=TINYINT},
      wy_company = #{wyCompany,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  
  <select id="findById" resultMap="BaseResultMap" >
    select *
    from ${baseName}.house_info
    where house_id = #{houseId}
  </select>
  
</mapper>