<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyou.business.trend.dao.HouseTopareaBargainMapper" >
  <resultMap id="BaseResultMap" type="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    <id column="house_id" property="houseId" jdbcType="INTEGER" />
    <id column="first_hand" property="firstHand" jdbcType="INTEGER" />
    <result column="bargainid" property="bargainid" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="building" property="building" jdbcType="VARCHAR" />
    <result column="room" property="room" jdbcType="VARCHAR" />
    <result column="bargain_area" property="bargainArea" jdbcType="BIGINT" />
    <result column="roomtype" property="roomtype" jdbcType="INTEGER" />
    <result column="rooms" property="rooms" jdbcType="INTEGER" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="sinprice" property="sinprice" jdbcType="BIGINT" />
    <result column="totalprice" property="totalprice" jdbcType="BIGINT" />
    <result column="bargaindate" property="bargaindate" jdbcType="DATE" />
    <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
    <result column="agent_shortname" property="agentShortname" jdbcType="VARCHAR" />
    <result column="ifcalc" property="ifcalc" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="BIT" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    select *
    from house_toparea_bargain
    where house_id = #{houseId,jdbcType=INTEGER}
      and first_hand = #{firstHand,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    delete from house_toparea_bargain
    where house_id = #{houseId,jdbcType=INTEGER}
      and first_hand = #{firstHand,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    insert into house_toparea_bargain (house_id, first_hand, bargainid, 
      address, building, room, 
      bargain_area, roomtype, rooms, 
      floor, sinprice, totalprice, 
      bargaindate, agent_name, agent_shortname, 
      ifcalc, source)
    values (#{houseId,jdbcType=INTEGER}, #{firstHand,jdbcType=INTEGER}, #{bargainid,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR}, #{room,jdbcType=VARCHAR}, 
      #{bargainArea,jdbcType=BIGINT}, #{roomtype,jdbcType=INTEGER}, #{rooms,jdbcType=INTEGER}, 
      #{floor,jdbcType=INTEGER}, #{sinprice,jdbcType=BIGINT}, #{totalprice,jdbcType=BIGINT}, 
      #{bargaindate,jdbcType=DATE}, #{agentName,jdbcType=VARCHAR}, #{agentShortname,jdbcType=VARCHAR}, 
      #{ifcalc,jdbcType=INTEGER}, #{source,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    insert into house_toparea_bargain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="firstHand != null" >
        first_hand,
      </if>
      <if test="bargainid != null" >
        bargainid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="building != null" >
        building,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="bargainArea != null" >
        bargain_area,
      </if>
      <if test="roomtype != null" >
        roomtype,
      </if>
      <if test="rooms != null" >
        rooms,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="sinprice != null" >
        sinprice,
      </if>
      <if test="totalprice != null" >
        totalprice,
      </if>
      <if test="bargaindate != null" >
        bargaindate,
      </if>
      <if test="agentName != null" >
        agent_name,
      </if>
      <if test="agentShortname != null" >
        agent_shortname,
      </if>
      <if test="ifcalc != null" >
        ifcalc,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="firstHand != null" >
        #{firstHand,jdbcType=INTEGER},
      </if>
      <if test="bargainid != null" >
        #{bargainid,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        #{building,jdbcType=VARCHAR},
      </if>
      <if test="room != null" >
        #{room,jdbcType=VARCHAR},
      </if>
      <if test="bargainArea != null" >
        #{bargainArea,jdbcType=BIGINT},
      </if>
      <if test="roomtype != null" >
        #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="rooms != null" >
        #{rooms,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="sinprice != null" >
        #{sinprice,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=BIGINT},
      </if>
      <if test="bargaindate != null" >
        #{bargaindate,jdbcType=DATE},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentShortname != null" >
        #{agentShortname,jdbcType=VARCHAR},
      </if>
      <if test="ifcalc != null" >
        #{ifcalc,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    update house_toparea_bargain
    <set >
      <if test="bargainid != null" >
        bargainid = #{bargainid,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="building != null" >
        building = #{building,jdbcType=VARCHAR},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=VARCHAR},
      </if>
      <if test="bargainArea != null" >
        bargain_area = #{bargainArea,jdbcType=BIGINT},
      </if>
      <if test="roomtype != null" >
        roomtype = #{roomtype,jdbcType=INTEGER},
      </if>
      <if test="rooms != null" >
        rooms = #{rooms,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="sinprice != null" >
        sinprice = #{sinprice,jdbcType=BIGINT},
      </if>
      <if test="totalprice != null" >
        totalprice = #{totalprice,jdbcType=BIGINT},
      </if>
      <if test="bargaindate != null" >
        bargaindate = #{bargaindate,jdbcType=DATE},
      </if>
      <if test="agentName != null" >
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentShortname != null" >
        agent_shortname = #{agentShortname,jdbcType=VARCHAR},
      </if>
      <if test="ifcalc != null" >
        ifcalc = #{ifcalc,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=BIT},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
      and first_hand = #{firstHand,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liyou.business.trend.pojo.HouseTopareaBargain" >
    update house_toparea_bargain
    set bargainid = #{bargainid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      building = #{building,jdbcType=VARCHAR},
      room = #{room,jdbcType=VARCHAR},
      bargain_area = #{bargainArea,jdbcType=BIGINT},
      roomtype = #{roomtype,jdbcType=INTEGER},
      rooms = #{rooms,jdbcType=INTEGER},
      floor = #{floor,jdbcType=INTEGER},
      sinprice = #{sinprice,jdbcType=BIGINT},
      totalprice = #{totalprice,jdbcType=BIGINT},
      bargaindate = #{bargaindate,jdbcType=DATE},
      agent_name = #{agentName,jdbcType=VARCHAR},
      agent_shortname = #{agentShortname,jdbcType=VARCHAR},
      ifcalc = #{ifcalc,jdbcType=INTEGER},
      source = #{source,jdbcType=BIT}
    where house_id = #{houseId,jdbcType=INTEGER}
      and first_hand = #{firstHand,jdbcType=INTEGER}
  </update>
  
  
  <select id="getHouseMaxTotalprice" resultType="java.lang.Long" >
  	SELECT MAX(sinprice) FROM ${baseName}.house_toparea_bargain WHERE house_id = #{houseId}
  </select>
  
</mapper>