<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyou.business.trend.dao.HouseSalesRankMapper" >
  <resultMap id="BaseResultMap" type="com.liyou.business.trend.pojo.HouseSalesRank" >
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="valyear" property="valyear" jdbcType="CHAR" />
    <result column="valmonth" property="valmonth" jdbcType="SMALLINT" />
    <result column="district_id" property="districtId" jdbcType="INTEGER" />
    <result column="plate_id" property="plateId" jdbcType="INTEGER" />
    <result column="cur_salescount" property="curSalescount" jdbcType="INTEGER" />
    <result column="three_salescount" property="threeSalescount" jdbcType="INTEGER" />
    <result column="currank" property="currank" jdbcType="INTEGER" />
    <result column="threerank" property="threerank" jdbcType="INTEGER" />
    <result column="currank_percent" property="currankPercent" jdbcType="INTEGER" />
    <result column="threerank_percent" property="threerankPercent" jdbcType="INTEGER" />
    <result column="currank_plate" property="currankPlate" jdbcType="INTEGER" />
    <result column="threerank_plate" property="threerankPlate" jdbcType="INTEGER" />
    <result column="currank_percent_plate" property="currankPercentPlate" jdbcType="INTEGER" />
    <result column="threerank_percent_plate" property="threerankPercentPlate" jdbcType="INTEGER" />
    <result column="sameage_rank" property="sameageRank" jdbcType="INTEGER" />
    <result column="sameage_threerank" property="sameageThreerank" jdbcType="INTEGER" />
    <result column="sameage_currank_percent" property="sameageCurrankPercent" jdbcType="INTEGER" />
    <result column="sameage_threerank_percent" property="sameageThreerankPercent" jdbcType="INTEGER" />
    <result column="calctime" property="calctime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insert" parameterType="com.liyou.business.trend.pojo.HouseSalesRank" >
    insert into ${baseName}.house_sales_rank (house_id, valyear, valmonth, 
      district_id, plate_id, cur_salescount, 
      three_salescount, currank, threerank, 
      currank_percent, threerank_percent, currank_plate, 
      threerank_plate, currank_percent_plate, threerank_percent_plate, 
      sameage_rank, sameage_threerank, sameage_currank_percent, 
      sameage_threerank_percent, calctime)
    values (#{houseId,jdbcType=INTEGER}, #{valyear,jdbcType=CHAR}, #{valmonth,jdbcType=SMALLINT}, 
      #{districtId,jdbcType=INTEGER}, #{plateId,jdbcType=INTEGER}, #{curSalescount,jdbcType=INTEGER}, 
      #{threeSalescount,jdbcType=INTEGER}, #{currank,jdbcType=INTEGER}, #{threerank,jdbcType=INTEGER}, 
      #{currankPercent,jdbcType=INTEGER}, #{threerankPercent,jdbcType=INTEGER}, #{currankPlate,jdbcType=INTEGER}, 
      #{threerankPlate,jdbcType=INTEGER}, #{currankPercentPlate,jdbcType=INTEGER}, #{threerankPercentPlate,jdbcType=INTEGER}, 
      #{sameageRank,jdbcType=INTEGER}, #{sameageThreerank,jdbcType=INTEGER}, #{sameageCurrankPercent,jdbcType=INTEGER}, 
      #{sameageThreerankPercent,jdbcType=INTEGER}, #{calctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.liyou.business.trend.pojo.HouseSalesRank" >
    insert into ${baseName}.house_sales_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="valyear != null" >
        valyear,
      </if>
      <if test="valmonth != null" >
        valmonth,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="plateId != null" >
        plate_id,
      </if>
      <if test="curSalescount != null" >
        cur_salescount,
      </if>
      <if test="threeSalescount != null" >
        three_salescount,
      </if>
      <if test="currank != null" >
        currank,
      </if>
      <if test="threerank != null" >
        threerank,
      </if>
      <if test="currankPercent != null" >
        currank_percent,
      </if>
      <if test="threerankPercent != null" >
        threerank_percent,
      </if>
      <if test="currankPlate != null" >
        currank_plate,
      </if>
      <if test="threerankPlate != null" >
        threerank_plate,
      </if>
      <if test="currankPercentPlate != null" >
        currank_percent_plate,
      </if>
      <if test="threerankPercentPlate != null" >
        threerank_percent_plate,
      </if>
      <if test="sameageRank != null" >
        sameage_rank,
      </if>
      <if test="sameageThreerank != null" >
        sameage_threerank,
      </if>
      <if test="sameageCurrankPercent != null" >
        sameage_currank_percent,
      </if>
      <if test="sameageThreerankPercent != null" >
        sameage_threerank_percent,
      </if>
      <if test="calctime != null" >
        calctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="valyear != null" >
        #{valyear,jdbcType=CHAR},
      </if>
      <if test="valmonth != null" >
        #{valmonth,jdbcType=SMALLINT},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="plateId != null" >
        #{plateId,jdbcType=INTEGER},
      </if>
      <if test="curSalescount != null" >
        #{curSalescount,jdbcType=INTEGER},
      </if>
      <if test="threeSalescount != null" >
        #{threeSalescount,jdbcType=INTEGER},
      </if>
      <if test="currank != null" >
        #{currank,jdbcType=INTEGER},
      </if>
      <if test="threerank != null" >
        #{threerank,jdbcType=INTEGER},
      </if>
      <if test="currankPercent != null" >
        #{currankPercent,jdbcType=INTEGER},
      </if>
      <if test="threerankPercent != null" >
        #{threerankPercent,jdbcType=INTEGER},
      </if>
      <if test="currankPlate != null" >
        #{currankPlate,jdbcType=INTEGER},
      </if>
      <if test="threerankPlate != null" >
        #{threerankPlate,jdbcType=INTEGER},
      </if>
      <if test="currankPercentPlate != null" >
        #{currankPercentPlate,jdbcType=INTEGER},
      </if>
      <if test="threerankPercentPlate != null" >
        #{threerankPercentPlate,jdbcType=INTEGER},
      </if>
      <if test="sameageRank != null" >
        #{sameageRank,jdbcType=INTEGER},
      </if>
      <if test="sameageThreerank != null" >
        #{sameageThreerank,jdbcType=INTEGER},
      </if>
      <if test="sameageCurrankPercent != null" >
        #{sameageCurrankPercent,jdbcType=INTEGER},
      </if>
      <if test="sameageThreerankPercent != null" >
        #{sameageThreerankPercent,jdbcType=INTEGER},
      </if>
      <if test="calctime != null" >
        #{calctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="getHouseMonthSalesCount" resultType="java.lang.Integer" parameterType="com.liyou.business.trend.pojo.HouseSalesRank" >
    select COUNT(1) three_salescount from ${baseName}.bargain_history where YEAR(bargaindate)=#{valyear} and MONTH(valmonth)=#{valmonth} and house_id =#{houseId};
  </select>
  
</mapper>